body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 220px; /* 侧边栏宽度为200px，加上额外的20px间距 */
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 33%;
}

.right-section {
    width: 66%;
}

.achievement {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.center-button {
    background-color: #007bff;
    width: 600px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
}