.sidebar {
    background-color: #ddd;
    padding: 10px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sideButton {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #007bff;
    border: none;
    color: #F9FAEF;
    text-decoration: none;
    cursor: pointer;
}

.sideButton:not(:last-child) {
    margin-bottom: 5px;
}

.sideButton:hover {
    background-color: #89A1DE;
}