/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #3498db;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #3498db;
}

table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #3498db;
}

button[type="submit"],
button {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover,
button:hover {
    background-color: #2980b9;
}

a {
    color: #3498db;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #2980b9;
    color: white;
}

.container {
    text-align: center;
}

@media (max-width: 768px) {
    table {
        width: 90%;
    }
}

@media (max-width: 576px) {
    table {
        width: 100%;
    }
}
